*{
    margin: 0px;
    padding: 0px;
}
main{
    background-color: beige;
    margin: auto;
    height: 931px;
    width: 1350px;
}
div#form{
    width: 453px;
    height: 702px;
    display: inline-block;
}
h1{
    width: 250px;
    text-align: center;
}
div#img{
    background-color: aqua;
    float: right;
}
img{
    width: 716px;
    height: 716px;
}