:root{
    --corRoxa: #6366F1;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    padding-top: 100px;
    margin: auto;
    height: 855px;
    width: 1350px;
}
div#form{
    padding-top: 30px;
    width: 452px;
    height: 702px;
    display: inline-block;
}
div#form>h1{
    width: 250px;
    text-align: center;
    margin: auto;
    font-size: 32px;
}
.cor{
    color: var(--corRoxa);
}
div#form>p{
    color: rgba(128, 128, 128, 0.774);
    padding-top: 10px;
    text-align: center;
    margin-bottom: 50px;
}
input#email{
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 7px;
    width: 452px;
    height: 48px;
    border-radius: 9px;
    border: 1px solid gray;
}
input#email:hover{
    margin-bottom: 40px;
    margin-top: 7px;
    width: 452px;
    height: 48px;
    border-radius: 9px;
    border: 2px solid var(--corRoxa)
}
input#password{
    font-size: 20px;
    margin-bottom: 7px;
    margin-top: 7px;
    width: 452px;
    height: 48px;
    border-radius: 9px;
    border: 1px solid gray;
}
input#password:hover{
    margin-bottom: 7px;
    margin-top: 7px;
    width: 452px;
    height: 48px;
    border-radius: 9px;
    border: 2px solid var(--corRoxa)
}
a{
    text-decoration: none;
    color: rgba(128, 128, 128, 0.582);
}
button{
    background-color: var(--corRoxa);
    color: white;
    margin-bottom: 27px;
    margin-top: 47px;
    width: 452px;
    height: 48px;
    border-radius: 9px;
    border: 0px;
    font-size: larger;
}
.txt1{
    text-align: center;
    margin-bottom: 20px;
    
}
#ou{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 452px;
    height: 19px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.linha{

width: 199px;
height: 0px;

border: 1px solid #A2A4AD;

order: 0;
flex-grow: 1;

}
.icon{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    text-align: center;
}
.enter{
    margin: auto;
    background-color: white;
    color: rgba(0, 0, 0, 0.836);
    margin-bottom: 20px;
    margin-top: 7px;
    width: 452px;
    height: 48px;
    border-radius: 9px;
    border: 1px solid gray;
    font-size: 20px;
}
div#img{
    float: right;
}
img{
    width: 716px;
    height: 716px;
}